.p-4 {
  padding: 1rem;
}

.p-2 {
  padding: 0.5rem;
}

.m-4 {
  margin: 1rem;
}

.m-2 {
  margin: 0.5rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.rounded {
  border-radius: 0.25rem;
}

.border {
  border-width: 1px;
}

.border-black {
  border-color: #000;
}

.border-solid {
  border-style: solid;
}

.hover\:bg-gray-200:hover {
  background-color: #edf2f7;
}

.flex {
  display: flex;
}

.container {
  max-width: 768px;
  margin: auto;
}

.font-bold {
  font-weight: 700;
}

.flex-1 {
  flex: 1 1 0;
}
